K8S_SERVER=https://k8s01.xxx.yyy:6443
K8S_NAMESPACE=cert-manager
K8S_SERVICEACCOUNT=certificate-client-s3
K8S_TOKEN=THE-TOKEN
CERT_SECRET=s3-witcom-cloud-certificate-tls
HAPROXY_CERTFILE=/tmp/cert.pem